body, html {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 640px;
    min-height: 100%;
    margin: 0px;


    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(219, 219, 219, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(219, 219, 219, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(219, 219, 219, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(219, 219, 219, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(219, 219, 219, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(219, 219, 219, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dbdbdb', GradientType = 0); /* IE6-9 */
}

body
{
    padding-bottom: 100px;
}

a {
    color: #999;
    text-decoration: none;
}

div.intro-text
{
    font-size: 25px;
}

div.intro-text p
{
    margin: 0px 0px 20px 0px;
}


#logo {
    margin: 30px 0px 30px 0px;
    width: 300px;
}

.logo {
    text-align: center;
}

.content {
    width: 700px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #444;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

li {
    list-style-type: none;
    font-size:20px;
}

ul.entry-points {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

li.choice
{
    margin: 10px 0px 10px 0px;
    font-size: 25px;
}

li.choice:hover a, li.entry-point:hover a
{
    color:#444;
}

li.entry-point {
    list-style-type:none;
    display: inline-block;
    padding: 0px 50px 0px 50px;
}

li.entry-point div.description
{
    position: absolute;
    left: 50%;

    width: 500px;
    margin-top: 30px;
    margin-left: -340px;
    text-align: left;
    font-size: 18px;

    visibility: hidden;
}

li.entry-point:hover div.description
{
    visibility: visible;
}

.inline {
    display: inline;
}

.emph {
    color: #1af;
}

.footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -325px;
    width: 650px;
    text-align: right;

    opacity: .3;
}

.footer .icon {
    width: 64px;
    height: 64px;
    background-image: url('/images/iconsheet.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin: 2px 10px;
    cursor: pointer;

    opacity: .7;
}

.footer .icon:hover {
    opacity: 1;
}

.footer .icon-fb {
    background-position: 0px 0px;
}

.footer .icon-twit {
    background-position: -64px 0px;
}

.footer:hover {
    opacity: 1;
}

.footer .icon-i {
    margin-left: 20px;
    background-position: -192px 0px;
}

.footer .icon-i:hover {
    background-position: -128px 0px;
}

.label, .description {
    font-size: 18px;
}

.value {
    display : inline;
}

.upsell {
    display: inline-block;
    -webkit-filter: saturate(20%);
    filter: saturate(50%);
    margin-right: 3px;
    width: 160px;
    height: 160px;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    overflow: hidden;

    border-radius: 5px;
}

.upsell:hover
{
    -webkit-filter: saturate(100%);
}

.content .result-header {
    font-size: 30px;
    margin: 20px 0px 10px 0px;
}

.blurb {
    margin: 15px 0px;
    font-size: 18px;
}

.content .pet-products
{
    margin-top: 15px;
}

div.question
{
    margin-top: 35px;
}